#site {
    height: 100vh;

    .ui.menu .selection.dropdown {
        padding-right: 2.2em;

        > .dropdown.icon {
            top: auto;
        }
    }

    #menu {
        .selection.dropdown {
            border:0;
        }
    }

    #panes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }    
}

#user,
#meta,
#trades {
    margin: 0 0 0.5rem 0.5rem;
    height: calc(~"100vh - 5rem");
}

#user {
    display: flex;
    flex-direction: column;
    width: 20rem;

    #place-order {
        .form.content {
            padding: 1em;
        }
    }

    #orders {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .scrollable {
            flex-grow: 1;
        }
    }
}

#meta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;

    #chart {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        margin-bottom: 0.5rem;

        .filled.content {
            flex-grow: 1;
        }
    }

    #orderbook 
    {
        .book-header {
            display: flex;
            flex-direction: row;
        }

        .scrollable {
            height: 350px;
        }

        .book-content {
            display: flex;
            flex-direction: row;
        }

        .book-bids,
        .book-asks {
            width: 45%
        }

        .book-amounts {
            width: 10%
        }
    }
}

#trades {
    width: 20rem;
    margin-right: 0.5rem;

    table.filled.content {
        flex-grow: 0;
    }

    div.scrollable.content {
        flex-grow: 2;
    }
}