<!doctype html>
<html>

<head>
  <title>LGO web frontend</title>
</head>

<body>
  <div id="header">
    <div class="ui text container">
      <div class="ui secondary menu segment">
        <a class="right item">
          Onboarding
        </a>
        <div class="item">
          <button class="ui primary button">Sign in</button>
        </div>
      </div>
      <div class="ui basic segment">
        <h1 class="ui header">
          <div class="content">Web frontend for LGO</div>
          <div class="sub header">Trade on LGO markets via your browser</div>
        </h1>
        <p>The purpose of this proof of concept is to demonstrate the technical feasibility and
          usefulness of a LGO markets web frontend.</p>
      </div>
    </div>
  </div>
  <div id="content">
    <div class="ui text container">
      <div class="ui basic segment">
        <h2 class="ui header">Architecture</h2>
        <p>This client-side web app interact with the public HTTP/WebSocket API provided by LGO.
          Due to technical limitations, the app can't connect to LGO directly. It has to use
          a proxy that handle authentication to LGO. Fortunately, the LGO team has built a proxy
          that handle encryptions keys and requests signature to target LGO API.</p>
        <p>Therefore, to connect to LGO via this web frontend, you have to install the LGO proxy on
          your computer, set up an access key in the LGO desktop app and launch the proxy with
          your access key as a parameter each time you want to access the LGO exchange. Please follow
          the <a href="/onboarding.html">detailed onboarding guide</a> that will assist you in the process.</li>
          </ol>
          <p>Because all requests sent to LGO go through the proxy and are signed by the private key
            you created when you have installed the proxy, you don't have to plug in your Ledger
            to access the LGO exchange. </p>
      </div>
    </div>
  </div>
</body>

</html>